 <style>
                body {
                    margin: 0px;
                    display: block;
                    }
                .title {
                    background: rgb(0, 100, 169);
                    border-style:solid;
                    height:10vh;
                    line-height:2.5vh;
                    padding-left:5vw;
                    font-size:1.5vw;
                    }
                .menu {
                    border-style:none;
                    position:relative;
                    width:20%;
                    height:100%;
                    float:left;
                    float:clear;
                    }
                .button {
                    background: rgb(0, 150, 219);
                    border-style:solid;
                    border-color: rgb(0, 150, 219);
                    width:auto;
                    height:12%;
                    width:auto;
                    line-height:100%;
                    text-align:center;
                    text-decoration:none;
                    }
                .button:hover {
                    cursor:hand;
                    cursor:pointer;
                    opacity:0.9;
                    }
                .graph_wrapper {
                    width: 40%;
                    margin:auto;
                    float:clear;
                    }
                
                @media only screen and (max-width:768px) {
                    .title {
                        font-size:3vw;
                        line-height:3vw;
                        }
                    .graph_wrapper {
                        width: 100%;
                        margin:0px;
                        border-style:none;
                        }
                    .menu {
                        float:clear;
                        display:table;
                        border-style:none;
                        border-color:black;
                        width:auto;
                        height:auto;
                        margin-left:auto;
                        margin-right:auto;
                        }
                    .tr {
                    	
                        display:table-row;
                        border-style:none;
                        margin:auto;
                        }
                    .button {
                    	text-align:center;
                        display:table-cell;
                        border-style:solid;
                        width:10vw;
                        height:7.5vh;
                        margin:auto;
                        }
                    a:link {
                    	text-decoration:none;
                        }
                    img {
                    	max-width:100%;
                        margin-left:auto;
                        margin-right:auto;
                        height:auto;
                    }
                }
            </style>